<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
    	<servlet-name>nanoservice.servlet</servlet-name>
    	<servlet-class>chav1961.purelib.ext.nanoservice.servlet.NanoServiceServlet</servlet-class>
    	<init-param>
    		<param-name>mars.properties</param-name>
    		<param-value>/opt/mars/mars.properties</param-value>
    	</init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>nanoservice.servlet</servlet-name>
    	<url-pattern>/ns</url-pattern>
    </servlet-mapping>
</web-app>
